@media (max-width: 1180px) {
  /* ------ header ------ */
  header {
    padding: 16px 32px;
  }

  .burger {
    display: block;
  }

  .menu {
    display: none;
  }

  /* ------ home_section2 ----- */

  .home_section2 {
    padding-left: 32px;
  }

  .article_photo {
    width: 256px;
  }

  .article {
    width: 272px;
  }

  /* ------ footer ------ */

  footer {
    padding-inline: 242px;
  }

  /* ------- catalog_sect ------- */

  .catalog_sect{
    padding: 96px 32px;
  }

  /* ------- card_section -------- */

  .none{
    display: none;
  }

  .card_section {
  grid-template-columns: 1fr 1fr;
  }

  /* ------ contact_section ------- */

  .contact_sect {
  padding: 140px 32px;
  }


}
